[submodule "web_cam_app"]
	path = web_cam_app
	url = git@github.com:ralphtandetzky/web_cam_app.git
[submodule "cpp_utils"]
	path = cpp_utils
	url = git@github.com:ralphtandetzky/cpp_utils.git
[submodule "qt_utils"]
	path = qt_utils
	url = git@github.com:ralphtandetzky/qt_utils.git
